body {
  margin: 0;
  background-color: #d1d1b6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#title {
  font-size: 4.5rem;  
  font-weight: bold;
  text-align: center;
  margin-top: 200px;
  animation: fadeIn 2s ease-in-out; 
}


#title1 {
  font-size: 3rem;  
  text-align: center;
  margin: 0;
  animation: fadeIn 2.5s ease-in-out; 
  opacity: 0.8; 
}

#statustext
{
  font-size: 1rem;  
  margin-top: 100px;
  margin-bottom: 150px;
  animation: fadeIn 2.5s ease-in-out; 
  opacity: 0.8; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.button-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 10px 0;
  background-color: #8b5e3c;
  z-index: 1000;
  animation: slideDown 0.5s forwards;
}

.slide-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 0px;;
  background-color: transparent;
  opacity: 0;
  transform: translateY(-100px); 
  animation: slideDown 1.5s forwards;
  transition: all 0.3s ease;
}

@keyframes slideDown {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-button:hover {
  /* background-color: #a17152;  */
  font-size: 1.25rem;
}

.action-button {
  background-color: #a17152;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  outline: none;
}

.action-button:hover {
  background-color: #74513b; 
  font-size: 17px; 
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

#gcaBtn
{
  transform: translateY(400px); 
  animation: slideDown 2.5s forwards;
}

#tpoBtn
{
  transform: translateY(400px); 
  animation: slideDown 2.5s forwards;
}

#upsBtn
{
  transform: translateY(400px); 
  animation: slideDown 2.5s forwards;
}

#gpBtn
{
  transform: translateY(400px); 
  animation: slideDown 2.5s forwards;
}